@use "./partials/mixins";
@use "./partials/variables";

:root {
  --green: #13be13;
  --blue: #060f19;
  --white: #ffffff;
  --light-blue: #182028;
}

#app {
  background-color: var(--blue);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  padding: 0.7rem;
  border-radius: 50px;
  border: none;
  color: var(--white);
  &:hover {
    background-color: var(--white);
    color: #333;
    font-weight: bold;
  }
}

.special {
  color: var(--green);
}

.text-white {
  color: white;
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-white {
  background-color: var(--white);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.clickable {
  cursor: pointer;
}
